<?xml version="1.0"?>
<model>
  <name>rmu_standard_robot</name>
  <version>1.0</version>
  <sdf version="1.9">sentry.sdf</sdf>

  <author>
    <name>lu</name>
    <email>2398772523@qq.com</email>
  </author>

  <description>
    The Basic Version of Standard Robot for RoboMaster University AI Challenge 2025.
    
  </description>
</model>
